@import '../../../../styles/variables';

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $text;
    font-size: 16px;
    text-align: start;
  
    label {
      margin: 14px 0 4px 0;
    }
  
    .input {
      margin: 4px 0 6px 0;
      border: none;
      border-radius: 8px;
      background-color: $background;
      padding: 8px 0 12px 18px;
      width: 100%;
      appearance: none;
      font-size: 16px;
      width: 300px;
      max-width: 100%;
    
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }