@import "../../styles/variables";

.metaData{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: $primary;
 
    .name{
        color: $text;
        font-size: 18px;
        width: 350px;
        font-weight: 600;
        align-items: center;
        text-align: center;
        padding: 10px 0 16px 0;
    }

    .inputFile{
        padding: 12px 0;
        cursor: pointer;
    }

    .formContent {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        width: 500px;
        height: 800px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(167, 167, 167, 0.1);
        border-radius: 12px;
        border: 1px solid #ddd;
        color: rgb(43, 42, 42);
    }
}